@import "tailwindcss";

:root {
  --background: #f5fff5;
  --backgroundDark: #deeade;

  --titlesBody: #deeade;
  --textBody: black;

  --buttonReserve: #70d418;
  --buttonInformation: #c9c9c9;

  --footer: #1d1f00;
  --footerPolicies: #352f00;
  --footerBorder: #d3ba00;
  --footertext: white;
}
